#txt {
	margin-left:33%;
	margin-top:10%;
	/*margin:0 auto;*/
  	position: absolute;
}


#bt { /* 按钮美化 */
	margin-left:53%;
	margin-top:670px;
	width: 200px; /* 宽度 */
	height: 40px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #1E90FF; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Simsun; /* 设置字体 */
	color: white; /* 字体颜色 */
	font-size: 20px; /* 字体大小 */
}
#bt:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #5599FF;
}

#bg {
	background-image: url('../images/1.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	/*style="background-image: url('./static/images/1.jpg');background-size: 100%;background-repeat: no-repeat;"*/
}

#bt1 { /* 按钮美化 */
	margin-left:10px;
	margin-top:10px;
	width: 100px; /* 宽度 */
	height: 40px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #1E90FF; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Simsun; /* 设置字体 */
	color: white; /* 字体颜色 */
	font-size: 20px; /* 字体大小 */
}
#bt2 { /* 按钮美化 */
	margin-left:30px;
	margin-top:30px;
	width: 100px; /* 宽度 */
	height: 40px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #1E90FF; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Simsun; /* 设置字体 */
	color: white; /* 字体颜色 */
	font-size: 20px; /* 字体大小 */
}
#abouts {
	/*position:fixed;*/
	/*top:350px;*/
	/*left:700px;*/
	/*display: none;*/
	background: rgba(0,0,0,0.6);
    border-radius: 2em;
    width: 500px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -250px;
    text-align: center;
    z-index: 999;
    position:fixed;
}

#close {
	padding: 0px 140px;

	/*margin: 250px 800px;*/
  	/*position: absolute;*/
  	color: #fff;
  	/*opacity:0.5;*/
}

#close_txt {
	text-align: center;
  	/*text-shadow: 2px 1px 6px #000;*/
  	font-size: 2em;
  	/*font-weight: 400;*/
  	/*margin: 20px 0 10px;*/
}
#save {
	padding: 0px 140px;

	/*margin: 250px 800px;*/
  	/*position: absolute;*/
  	color: #fff;
  	/*opacity:0.5;*/
}

#save_txt {
	text-align: center;
  	/*text-shadow: 2px 1px 6px #000;*/
  	font-size: 2em;
  	/*font-weight: 400;*/
  	/*margin: 20px 0 10px;*/
}

#detail {
	height:2.7em;
	border-radius:10px;
	border:0px solid #c8cccf;
	outline:0;
	color:#986655;
	text-align:center;
}